.first-heading {
    font-size: 28px;
}

.first-paragraph {
    font-style: italic;
}

.second-paragraph{
    font-size: 24px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section{
    margin: 20px;
}

/* h1{
    font-size: 28px;
}

.para {
    font-size: 24px;

}

.first-paragraph {
    font-size: 24px;
    font-style: italic;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section {
    margin-left: 20px;
} */