main {
    /* position: relative; */
}

.slider {
    position: relative;
    top: 140px;
    /* transform: translateY(130px); */
}

.slider .img-slider {
    width: 100%;
    height: 600px
}

.slider .primary-offer {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.52);
    color: white;
    width: 390px;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.slider .primary-offer .offer-button {
    background-color: transparent;
    border: 3px solid white;
    color: var(--primary-button-clr);
    font-weight: bold;
    padding: 10px;
}

.slider .primary-offer .offer-button:hover {
    background-color: white;
    cursor: pointer;
}

.side-below-slider {

    padding-top: 10px;
    position: relative;
    top: 100px;
    background-color: var(--primary-offer-clr);
    padding-bottom: 30px;


}

.town-offer h1 {
    text-align: center;
    color: white;
}

.side-below-slider .town-offer {
    height: 350px;
}

.side-below-slider .town-offer .card-desc {
    width: 550px;
    color: white;
    position: absolute;
    left: 32%;
    font-size: 19px;
}

.side-below-slider .town-offer button {
    margin-left: 30%;
    background: transparent;
    color: white;
    padding: 12px;
    width: 140px;
    border: 3px solid;
    cursor: pointer;
    font-weight: 800;
    font-size: 15px;
}

.side-below-slider .town-offer button:hover {
    background-color: white;
    cursor: pointer;
    color: var(--primary-offer-clr);

}

.bottom-side {
    position: relative;
}

.bottom-side article {
    color: gray;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-side article h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 100;
}

.bottom-side article p {
    text-align: center
}

.bottom-side img {
    border-radius: 50%;
    border: 2px solid grey;
    padding: 2px;
    margin: 2px;
}

.bottom-side .atractions ul {
    display: flex;
    list-style: none;
}

.bottom-side .atractions ul li p {
    font-size: 14px;
}