@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";


:root {
    --primary-main-clr: #C19C31;
    --primary-button-clr: #f2c53f;
    --primary-offer-clr: #CDA939
}

body{
    font-family: Helvetica, sans-serif;
}