@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

.header {
    background-color: #234465;
    padding: 6px 24px;
    position: relative;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1000;
    margin-bottom: 30px;
}
.header .header__logo{
    height: 100px;
}
nav ul {
    list-style: none;

    /* word-spacing: 10px; */
    position: absolute;
    top: 50%;
    right: 30px;

}
.nav__item .nav__item__link{
    color: white;
    font-size: 10;
    text-decoration: none;
    margin: 10px;
    
}
.nav__item{
    display: inline-block;
}

