@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

body {
    height: 1400px;
}



main {
    position: relative;

}



article {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, 50%);
    width: 300px;
    height: 350px;
    border: 1px solid rgb(65, 63, 63);
    border-radius: 3px;

    transition: all .2s ease-in-out;

}

article:hover {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: scale(1);
}



.fill {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 300px;
    object-fit: cover;
}



.article-text {

    padding: 10px;

}

.article-button {
    text-align: center;
}

.article-button button {
    box-sizing: border-box;
    border: 1px solid #B39CD0;
    border-radius: 20px;
    padding: 8px;
    margin: 10px;
    color: white;
    background-color: #845EC2;
    letter-spacing: 2px;


}

.article-button button:hover {
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: 4px 8px 15px -2px rgba(213, 130, 130, 0.81);
    box-shadow: 4px 8px 15px -2px rgba(179, 83, 172, 0.81);
}

.point-icon {
    font-size: 20px;
    position: absolute;
    bottom: 7px;
    right: 20px;
}

.text-more {
    position: absolute;
    top: 400px
}

.article-text-text-more p {
    overflow: hidden;
    padding-left: 15px;

    height: 75px;
}

.article-text-text-more {
    position: relative;

}

.read-more-button {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 8px;
    background-color: #845EC2;
    border: none;
    border-radius: 30px;
    color: white;

}

.point-icon-read-more {
    font-size: 15;
}


.card3 {
    position: absolute;
    top: 800px;
}