body main {
    width: 700px;
    height: 500px;
    margin: 60px;

    position: absolute;
    bottom: 200px;
}

img.new {
    position: relative;
    top: 200px;
    right: -150px;
}

img:nth-child(2) {
    position: relative;
    top: 0;
    left: 0;
}