header {
    height: 600px;
    background-color: rgb(239, 239, 239);
    position: relative;
}

.menu div {
    width: 15px;
    height: 3px;
    margin: 5px;
    background-color: black;
}

.menu-text {
    position: absolute;
    top: 0px;
    right: 40px;
}

.menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-content {
    position: absolute;
    top: 10rem;
    left: 5rem;

}

.header-content p {
    font-size: 19px;
    width: 40%;
}

.header-img-container img {

    position: absolute;
    width: 45%;
    right: 7rem;
    bottom: 0;
}

.header-content h1 span {
    font-weight: 300;
}

.seciton-one-heading{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.line{
    height: 2px;
    width: 100px;
    background-color: black;
}