.footer-container img {
    width: 100%;
}

.footer-container {
    position: relative;
    color: white;
}

.container-content {
    position: absolute;
    top: 15%;
    left: 22%;
    text-align: center;

}

.container-content h1 {
    font-size: xxx-large;
    font-weight: 500;
}

.container-content p {
    width: 60%;
    margin: auto;
}

.contacts {
    font-size: 18px;
    margin: 30px;
}

.site-map {
    color: black;
}

.site-map ol li {
    list-style: none;
}

.site-map {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}

.site-map ol li:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;

}

.site-map ol li {
    margin-bottom: 10px;
    color: grey;
}

.footer-logo {
    width: 50%;
}