.services {
    padding: 10rem;
}

.services h1 {
    text-align: center;
    font-size: 40px;
}

.services p {
    text-align: center;
    width: 50%;
    margin: auto;
    color: grey;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap:40px
}

.service-cards section {
    border: 1px solid rgb(242, 74, 32);
    text-align: center;
    border-radius: 5px;
    width: 300px;
    padding: 50px;
}

.service-cards section:first-child {
    border-right: 0;

}

.service-cards section:last-child {
    border-left: 0;
}

.service-cards section:nth-child(1){
    position: relative;
}

.service-cards section:nth-child(1) img:nth-child(1) {
    position: absolute;
    top:0;
    left: 50%;
}