.services {
    padding: 10rem;
}

.services h1 {
    text-align: center;
    font-size: 3rem;
}

.services p {
    text-align: center;
    width: 50%;
    margin: auto;
    color: grey;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 6rem;
}

.service-cards section {
    border: 1px solid rgb(242, 74, 32);
    text-align: center;
    border-radius: 5px;
    width: 300px;
    padding: 50px;
}

.service-cards section:first-child {
    border-right: 0;

}

.service-cards section:last-child {
    border-left: 0;
}

.service-cards section:nth-child(1),
.service-cards section:nth-child(2),
.service-cards section:nth-child(3) {
    position: relative;
}

.service-cards section:nth-child(1) img:nth-child(1),
.service-cards section:nth-child(2) img:nth-child(1)
 {
    position: absolute;
    top: 22%;
    left: 36%;
}

.service-cards section:nth-child(3) img:nth-child(1) {
    position: absolute;
    top: 22%;
    left: 40%;
}


.service-cards section h1 {
    font-size: 26px;
}

.service-cards section p {
    width: 100%;
}