.services {
    padding: 10rem;
}

.services h1 {
    text-align: center;
    font-size: 3rem;
}

.services p {
    text-align: center;
    width: 50%;
    margin: auto;
    color: grey;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 6rem;
}

.service-cards section {
    border: 1px solid rgb(242, 74, 32);
    text-align: center;
    border-radius: 5px;
    width: 300px;
    padding: 50px;
}

.service-cards section:first-child {
    border-right: 0;

}

.service-cards section:last-child {
    border-left: 0;
}

.service-cards section:nth-child(1),
.service-cards section:nth-child(2),
.service-cards section:nth-child(3) {
    position: relative;
}

.service-cards section:nth-child(1) img:nth-child(1),
.service-cards section:nth-child(2) img:nth-child(1)
 {
    position: absolute;
    top: 22%;
    left: 36%;
}

.service-cards section:nth-child(3) img:nth-child(1) {
    position: absolute;
    top: 22%;
    left: 40%;
}


.service-cards section h1 {
    font-size: 26px;
}

.service-cards section p {
    width: 100%;
}

.about-us-slide {
    display: flex;
    align-items: center;
}

.about-us-slide img {
    margin-left: 12rem;
}

.about-us-slide .about-us-headding1 {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}
.about-us-slide .about-us-headding2 {
    font-size: 60px;
    margin: 0;

}
.about-us-slide p {
    width: 55%;
}

.orange-btn {
    border: 0;
    font-weight: 600;
    width: 150px;
    border-radius: 30px;
    padding: 15px;
    background-color: rgb(242, 74, 32);
    color: white;
}
