@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");



.subscribe-section hr {
    width: 100px;
    height: 2px;
    background-color: white;


}

.subscribe-section h2 {
    margin-bottom: 0;
    font-size: 36px;
}

.subscribe-section p {
    font-size: 17px;
}


.subsribe-bar {
    margin-top: 30px;
}

.subsribe-bar input {
    background: var(--footer-input-bar-backgroud-color);
    height: 30px;
    border-radius: 5px;
    width: 40em;
}

.subsribe-bar input::placeholder {
    font-style: italic;
}

.subsribe-bar button {
    background-color: var(--footer-subscribe-button-color);
    border: 0;
    padding: 8px 10px 8px 10px;
    width: 177px;
    color: white;
    border-radius: 5px;
}

.subscribe-section {
    padding-bottom: 30px;
}


.site-map {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    grid-template-areas:
        "first-colum second-colum third-colum fourth-colum"
        "first-colum second-colum email-address ."
}

.site-map ul li {
    margin: 8px;
}

.site-item3 {
    margin-bottom: 0;
}

.site-item4 {
    margin-top: 0px;
}

.site-map ul li:nth-child(1) {
    margin: 15px;
}

.site-item1 {
    grid-area: first-colum;
}

.site-item2 {
    grid-area: second-colum;
}

.site-item3 {
    grid-area: third-colum;
}

.site-item4 {
    grid-area: email-address;
}

footer {
    text-align: center;
    color: white;
    padding-top: 20px;
    /* padding-bottom: 30px; */
    background-color: var(--footer-below-bacground-color);
}

.copy-right {
    background-color: black;
    text-align: center;

}

.copy-right p {
    margin: 0;
    padding: 5px;
}

.copy-right p span {
    color: rgb(20, 97, 128)
}
