header .navigation {
    display: flex;
}

header .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .navigation ul li {
    display: inline;
    margin-left: 16px;

}

header .navigation ul li a:hover {
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
}


header .navigation h1 span {
    color: var(--primary-color)
}

.get-started img {
    width: 100%;
}

.get-started {
    position: relative;
}

.get-started .get-started-desc {
    color: white;
    font: 100;
    font-size: 40px;
    padding: 20px;
    position: absolute;
    top: 14rem;
    left: 16rem;
    background-color: rgba(0, 0, 0, 0.547);
    line-height: 1.5;
}

.get-started .get-started-desc button {
    background-color: var(--secondary-color);
    padding: 10px 30px 10px 30px;
    border: 0;
    color: white;
    font-size: 20px;
    border-radius: 30px;

}

.header-desc {
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-bottom: 30px
}

.header-desc h2 hr {
    height: 2px;
    /* border-bottom: 2px solid var(--primary-color); */
    width: 10%;
    background-color: var(--primary-color);
}

.header-desc h2 {
    font-weight: 300;
    font-size: 26px;
}

.header-desc-button {
    color: white;
    padding: 8px 15px 8px 15px;
    background-color: var(--third-color);
    border-radius: 30px;
    width: 160px;
    font-size: 17;
    border: 0;
}
