@media only screen and (max-width: 600px) {


    .left-to-right:first-child {
        /* padding: 0px; */
        padding-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        height: 470px
    }


    main .left-to-right article {
        position: absolute;
        /* top: 0; */
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        text-align: center;
        padding: 20px 10px 20px 10px;
        opacity: 0.9;
        font-weight: 400;
        color: black;
    }

    main .left-to-right article header h1 {
        font-size: 30px;
    }

    main .left-to-right article header p {
        font-size: 16px;

    }

    main .left-to-right article p {
        font-size: 14px;
    }

    main section:nth-child(2) article header h1 {
        font-size: 34px;
        text-align: center;
    }

    main section:nth-child(2) article header p {
        font-size: 16px;
        text-align: center;
    }

    main section:nth-child(2) article p {
        font-size: 14px;
        line-height: 1.6;
    }

    main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(2) button {
        width: unset;
    }

    .last-article {
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    body {
        /* width:fit-content; */
        width: 100%;
    }

    main {
        width: 100%;
    }

    .form-section form {
        width: 100%;
    }


    section form label input,
    section form textarea {
        /* width: 200px; */
        width: 400px;
    }

    form input[type="submit"] {
        width: 100%;
    }


    body {
        margin: 0;
    }
}