html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

div {
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-direction: column;

}

span {
    border: 1px solid black;
}

span:nth-child(11) {
    order: -1
}
span:nth-child(3){
}