:root{
    --clr-primary-green: #78dbbc;

}
/* 1st and 4th part */

.middle-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    grid-template-areas:
        "image desc"
        "advert  image2";

}

.middle-section .middle-image {
    overflow: hidden;
    grid-area: image;
}

.middle-section .middle-image2 {
    overflow: hidden;
    grid-area: image2;


}

.middle-section .middle-desc {
    grid-area: desc;
}

.middle-section .middle-advertising {
    grid-area: advert;
}

.middle-section .middle-image img {
    width: 100%;
    height: -webkit-fill-available;
}

.middle-section .middle-image2 img {
    width: 100%;
    height: -webkit-fill-available;
}

/* 2nd part */
.middle-desc {
    padding: 30px;
}

.middle-desc h1 {
    font-size: xx-large;
    font-weight: 900;
}

.middle-desc div {
    width: 70%;
}

.middle-desc ul {
    margin-top: 25px;
}

.middle-desc ul li {
    margin: 10px
}

.middle-desc ul li i {
    margin-right: 10px;
}

/* 3th  part */

.middle-advertising ul li img {
    width: 80px;
}

.middle-advertising {
    position: relative;
}

.middle-advertising ul {
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 110px);
    grid-column-gap: 48px;
    grid-row-gap: 45px;
    position: absolute;
    left: 16%;
}

.middle-advertising ul li {
    color: var(--clr-primary-green);
    font-weight: bold;
    font-size: large;

}

.middle-advertising h1 {
    text-align: center;
}