@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";


body {
    padding: 0px;
    margin: 0px;
}

:root {
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style: none;
}