.item {
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item:hover {
    color: red;
}


;