.item {
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item:hover {
    color: red;
}
body {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 250px 250px auto;
    
    gap: 10px
}

header {
    grid-area: header;
}

article {
    grid-area: aside;
}

section{
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* 
footer{
    grid-area: footer;
}
section{
    grid-area: main;
} */
